<% content_for :title, "註冊 - Sendora" %>

<h1 class="text-2xl font-bold">註冊</h1>

<%= form_with model: @user, url: registration_path, class: "contents" do |form| %>
  <div class="my-5">
    <%= form.label :email_address, class: "block text-sm font-medium text-gray-700" %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", class: "#{ApplicationHelper::INPUT_CLASSES} mt-1" %>
    <%= field_error @user, :email_address %>
  </div>

  <div class="my-5">
    <%= form.label :password, class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password, required: true, autocomplete: "new-password", maxlength: 72, class: "#{ApplicationHelper::INPUT_CLASSES} mt-1" %>
    <p class="mt-1 text-sm text-gray-500">至少 8 個字元</p>
    <%= field_error @user, :password %>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
    <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", maxlength: 72, class: "#{ApplicationHelper::INPUT_CLASSES} mt-1" %>
    <%= field_error @user, :password_confirmation %>
  </div>

  <%= form.submit "建立帳號", class: ApplicationHelper::PRIMARY_BUTTON_CLASSES %>
<% end %>

<p class="mt-6 text-sm text-gray-500">
  已有帳號?<%= link_to "登入", new_session_path, class: "text-indigo-600 underline hover:no-underline" %>
</p>
